table {  /* creates a border around the tables perimeter */
	border: 3px solid gold;
}

td:hover {  /*changes style of cells when hovered */
	background-color: cyan;
}

tr, th {  /* affects table header elements */
	background-color: DarkSlateGray;
	color: white;
}

tr, td {  /* affects non-table header elements */
	background-color: DarkSlateGray;
	color: white;
}
	